
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Početna</title>
</head>
<h2 style="color:red";>Site by M4T1J41991</h2>
<body background="/Content/Images/webpozadina.jpg">
    <div>
        <center><h1 style="font-size: 50px; color: lightskyblue">WEB APLIKACIJE</h1></center>
        </br>
        </br>
    </div>
    <div>
        <center><a href="/Default/Potrosnja" style="color:whitesmoke; font-size: 25px">POTROŠNJA GORIVA</a></center>
        </br>
        <center><a href="/Default/KwKs" style="color:whitesmoke; font-size: 25px">KW --> KS</a></center>
        </br>
        <center><a href="/Default/KsKw" style="color:whitesmoke; font-size: 25px">KS --> KW</a></center>
        </br>
        <center><a href="/Default/Cf" style="color:whitesmoke; font-size: 25px">C° --> F°</a></center>
        </br>
        <center><a href="/Default/Fc" style="color:whitesmoke; font-size: 25px">F° --> C°</a></center>
        </br>
        <center><a href="/Default/EurHrk" style="color:whitesmoke; font-size: 25px">EUR --> HRK</a></center>
        </br>
        <center><a href="/Default/Kalkulator" style="color:whitesmoke; font-size: 25px">KALKULATOR</a></center>
    </div>
</body>
</html>
